@import "~less/compass/_theme.less";

.root {
	background: white;
	padding: 2.4rem;
}

.title {
	margin-top: 0;
}

div[data-test-id="quality-content"]{
	height: 100%;
}

.rowscore {
  width:10px;
  height:10px;
  border-radius:10px;
  margin-top:5px;
  margin-left:1em;
  float:left;
  background: black;
}

.barrect {
  margin-top: 0.1em;
  margin-right: 1em;
  background: black;
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 100px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 200%;
  left: -125%;
  margin-left: 1em;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 15%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.counter-collection{
	color : orange;
	font-weight: bold;
}

.percentage-collection{
	color : lightblue;
	font-weight : bold;
}

.plugin-description-text{
	color : darkslategrey;
}

.bar {
  fill: #aaa;
  height: 21px;
  -webkit-transition: fill .3s ease;
  transition: fill .3s ease;
  cursor: pointer;
}
.bar text {
  fill: #555;
}

.chart:hover .bar,.chart:focus .bar {
  fill: #aaa;
}

.bar:hover,.bar:focus {
  fill: red !important;
}
.bar:hover text,
.bar:focus text {
  fill: red;
}

figcaption {
  font-weight: bold;
  color: #000;
  margin-bottom: 20px;
}

